<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="mobile.css">
    
    
    <style></style>
</head>

<body>
    <div class="heading">
        <div class="logo">
            <img src="https://upload.wikimedia.org/wikipedia/en/thumb/d/df/Lamborghini_Logo.svg/1200px-Lamborghini_Logo.svg.png"
        </div></div>
        
    

        
        <div class="list">
            <ul class="l1">
                <li>MODELS</li>
                <li>CUSTOM SOLUTIONS</li>
                <li>OWNERSHIP</li>
                <li>MOTORSPORT</li>
            </ul>
            <ul class="l2">
                <li>DEALERSHIPS</li>
                <li>MUSEUM</li>
                <li>STORE</li>

            </ul>
        </div>
           <div class="l3">
            <i class="fa fa-comments"
            style="font-size:30px ;"></i>
            <i class="fa fa-map-marker"
            style="font-size:30px ;"></i>
            <i class="fa fa-navicon"
            style="font-size:30px ;"></i>
            </div>
            
        </div>
        
        <div class="photo">
            <img src="https://www.lamborghini.com/sites/it-en/files/DAM/lamborghini/facelift_2019/model_detail/aventador/Ultimae/aven_ultimae_og.jpg">
            <b>HURACÁN</b>
            <div class="i9">
                BEYOND THE CONCRETE
            </div>
            
    
        

            
        </div>
        
        <div class="name">
            <h1>MODEL</h1>

        </div>
        <div class="main">
            <div class="a">
                <img src="images.jpg" alt="">

            </div>
            <div class="b">
                <img src="download (3).jpg" alt="">

            </div>
            <div class="c">
                <img src="download (2).jpg" alt="">

            </div>
            <div class="d">
                <img src="images (1).jpg" alt="">
            </div>
            
        </div>
        <div class="lest">
            <div class="m1">
                <li>COMPANY</li>
                <li>CAREERS</li>
                <li>CONTACT US</li>
                <li>SUSTAINABILITY</li>
                <li>MEDIA CENTER</li>
                <li>PRIVACY & LEGAL</li>
                <li>COOKIE SETTINGS</li>
                <li>SITEMAP</li>
                <li>NEWSLETTER</li>
            </div>
            <P>
                The consumption and emissions values in the website refer to your geographical IP. This value might be unrealistic if you navigate using VPN or if the position of your Internet provider is imprecise. If you believe you are incorrectly geolocalized, contact your dealer to get valid consumption and emissions information in your area.
            </P>
           
            <h4>
                Copyright © 2022 Automobili Lamborghini S.p.A. a sole shareholder company part of Audi Group.

All rights reserved. VAT no. IT 00591801204
            </h4>
            
        


        </div>
        
       

</body>

</html>